* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    height: 100vh;
    overflow-x: hidden;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.menu {
    position: fixed;
    height: 100%;
    width: 14%;
    background-color: #f08;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    align-items: center;
    font-size: 15px;
}

button {
    width: 80%;
    padding: 10px;
    background-color: rgb(131, 3, 67);
    color: white;
    border: none;
    cursor: pointer;
    margin: auto;
    border-radius: 4px;
    margin-top: 17px;
}

header {
    position: fixed;
    top: 0;
    left: 14%;
    width: 86%;
    height: 10%;
    background: linear-gradient(to bottom, #f08, #90c);
    box-sizing: border-box;
    display: inline-block;
    justify-content: space-between;
    z-index: 1;
    padding: 10px;
}

h1 {
    color: white;
    text-align: center;
}

main {
    margin-left: 14%;
    box-sizing: border-box;
    display: flex;
    text-align: left;
}

h2 {
    color: #333;
    font-size: 50px;
    margin-top: 90px;
    margin-left: 50px;
}

section {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10%;
    margin-left: 20%;
}

.logo-menu {
    width: 150px;
    margin-left: 18px;
}

.icones {
    width: 20px;
    margin-right: 5px;
}

.rute {
    width: 200px;
    display: flex;
    margin-left: 0%;
}

.img-home {
    width: 200%;
    margin-top: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}