* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    background-image: url("./assets/background-header.jpg");
    padding: 10px;
    display: flex;
    position: fixed;
    width: 100vw;
}

#slogan {
    width: 420px;
}

nav {
    display: flex;
    margin-left: 35px;
   
    align-items: center;
}

a {
    display: flex;
    margin-right: 40px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: brown;
    text-align: center;
    cursor: pointer;
}

a:hover {
    opacity: 0.9;
    color: rgb(230, 16, 16);
    
}

.button-email {
    padding: 7px;
    font-size: 15px;
    background-color: rgb(241, 7, 210);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    height: 35px;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    margin-top: 38px;
}

.button-email:hover {
    opacity: 0.5;
}

main {
    display: flex;
    padding: 20px;
    margin-top: 130px;
}

.box-1 {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.box-2 {
    display: flex;
    margin: auto;
}

.h1-home {
    font-size: 50px;
}

footer {
    display: flex;
}
